body{
    background-color: lightskyblue;
}

#login {
    position: relative;
    float: left;
    left: 35%;
    width: 30%;
    top: 200px;
    border: solid;
    padding-top: 10px;
    background-color: lightgrey;
}